@model Inventory.Models.Stock

@{
    ViewData["Title"] = "Stok #" + Model.StockCode;
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["Status"]">
        @TempData["Message"]
    </div>
}


<div class="card">
    <div class="card-body">
        <form asp-action="Edit" autocomplete="off">
            <input type="hidden" asp-for="StockID" />
            <input type="hidden" asp-for="CreatedAt" />
            <partial name="_Form" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
