@model Inventory.Models.Stock

@{
    ViewData["Title"] = "Stok #" + Model.StockID;
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["Status"]">
        @TempData["Message"]
    </div>
}


<div class="card">
    <div class="card-body">
        <form asp-action="Edit" autocomplete="off">
            <input type="hidden" asp-for="StockID" />
            <input type="hidden" asp-for="CreatedAt" />
            <partial name="_Form" />
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-route-productCode="@Model.ProductCode" class="btn btn-sm btn-dark"><i class="fas fa-arrow-left"></i> Stok Listesi</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
