@model Inventory.ViewModels.UserViewModel

@{
    ViewData["Title"] = "EnvanterPlus";
}

<h1>EnvanterPlus ürün ve stok yönetim sistemi</h1>

@if (Model.User != null)
{
    <hr />
    <h3 class="text-success">Merhaba! <strong>@Model.User.FullName</strong></h3>
}
