@model Inventory.Models.ApplicationUser

@{
    ViewData["Title"] = "EnvanterPlus";
}

<h1>EnvanterPlus ürün ve stok yönetim sistemi</h1>

@if (Model.UserName != null)
{
    <hr />
    <h3 class="text-success">Merhaba! <strong>@Model.FullName</strong></h3>
}
