@model Inventory.Models.Product


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group mb-3">
    <label asp-for="ProductCode" class="control-label">Ürün Kodu</label>
    <input asp-for="ProductCode" class="form-control" />
    <span asp-validation-for="ProductCode" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Name" class="control-label">Ürün Adı</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Price" class="control-label">Fiyat</label>
    <input asp-for="Price" class="form-control" type="number" step="0.01" lang="en" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Description" class="control-label">Açıklama</label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Kaydet" class="btn btn-primary" />
</div>